<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/login.css">
    <script src="https://kit.fontawesome.com/861ce09321.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HireMi</title>
</head>
<body>
    <div class="bg">
        <div class="login">
            <div class="logo">
                <img class="" src="../static/asset/logo.jpg" alt="">
            </div>
            <div class="log">
                <form id="login" method="get">
                    <h2>Admin Login</h2><br><br>
                    <label>username</label><br><br>
                    <div class="user">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="Uname" id="Uname" placeholder="Type your Username"></input><br><br><br> 
                    </div>
                    <div class="user">
                        <i class="fa-solid fa-unlock"></i><input type="Password" name="Pass" id="Pass" placeholder="Password"><br><br>
                    </div> 
                    <p>Forgot Password?</p><br><br>
                    <div class="logb">
                        <input type="button" name="log" id="log" value="LogIn">  
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>